In [ ]:
## PROJETO SPOTIFY ##

## Criando tabelas pelo Jupyter Notebbok (utlizando Python) para inserção no banco de dados MySQL.
## Acessando banco de dados pelo MySQL WorkBench

## Imersão Data Engineering [QODA]

##26/01/2021

In [ ]:

# Instalando a biblioteca

!python -m pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\anaconda\lib\site-packages (8.0.23)
Requirement already satisfied: protobuf>=3.0.0 in c:\anaconda\lib\site-packages (from mysql-connector-python) (3.14.0)
Requirement already satisfied: six>=1.9 in c:\anaconda\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)

In [ ]:

# Importe a biblioteca pra verificar se está tudo ok

import mysql.connector

In [ ]:

## Criando conexão com banco de dados

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="1234"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000000054AD1C0>

In [ ]:

## Criando database

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="1234"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE spotify") # QUERY SQL!

In [ ]:

##checando existência do database

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="1234"
)

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES") # QUERY SQL

for x in mycursor:
  print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('spotify',)
('sys',)

In [ ]:




# CRIAR TABELA CLIENTES/customers

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="1234",
  database="spotify"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))") # QUERY SQL

In [ ]:


##inserindo primary key em tabela já criada

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="1234",
  database="spotify"
)

mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE customers ADD COLUMN customer_id INT AUTO_INCREMENT PRIMARY KEY")

In [ ]:

####

In [ ]:


# CRIAR TABELA EMPREGADOS/employees

import mysql.connector

mydb = mysql.connector.connect(
   host="localhost",
  user="root",
  password="1234",
  database="spotify"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE employees (name VARCHAR(255), address VARCHAR(255))") # QUERY SQL

In [ ]:


##inserindo primary key em tabela já criada

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="1234",
  database="spotify"
)

mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE employees ADD COLUMN employee_id INT AUTO_INCREMENT PRIMARY KEY")

In [ ]:


###

In [ ]:


# CRIAR TABELA ARTISTAS/artists


import mysql.connector

mydb = mysql.connector.connect(
   host="localhost",
  user="root",
  password="1234",
  database="spotify"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE artists (artist_id INT AUTO_INCREMENT PRIMARY KEY, artist_name VARCHAR(255), biography VARCHAR(255))") # QUERY SQL

In [ ]:
##

In [ ]:
#checando a existência das tabelas

import mysql.connector

mydb = mysql.connector.connect(
   host="localhost",
  user="root",
  password="1234",
  database="spotify"
)

mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES") #QUERY SQL

for x in mycursor:
  print(x)

('artists',)
('customers',)
('employees',)

In [ ]:

###

In [ ]:

# CRIAR TABELA PLAYLISTS/playlists

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="1234",
  database="spotify"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE playlists (playlist_id INT AUTO_INCREMENT PRIMARY KEY, costumer_id INT, song_id INT , date_added DATE, position_number INT)") # QUERY SQL

In [ ]:
###

In [ ]:
# CRIAR TABELA DISCOS/albums

import mysql.connector

mydb = mysql.connector.connect(
   host="localhost",
  user="root",
  password="1234",
  database="spotify"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE albums (album_id INT AUTO_INCREMENT PRIMARY KEY, artist_id int, title VARCHAR(100), year_of_release DATE)")

In [ ]:
####

In [ ]:
# CRIAR TABELA musicas/songs

import mysql.connector

mydb = mysql.connector.connect(
   host="localhost",
  user="root",
  password="1234",
  database="spotify"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE songs (song_id INT AUTO_INCREMENT PRIMARY KEY, album_id int, song_title VARCHAR(100), track_number INT, song_length VARCHAR(15))")

In [ ]:
###

In [ ]:
# SUA VEZ: POPULAR DADOS

In [ ]:
#código para deletar tabela

import mysql.connector

mydb = mysql.connector.connect(
   host="localhost",
  user="root",
  password="1234",
  database="spotify"
)

mycursor = mydb.cursor()

sql = "DROP TABLE nome_tabela"

mycursor.execute(sql)

In [ ]:
#inserindo 1 registro
import mysql.connector

mydb = mysql.connector.connect(
   host="localhost",
  user="root",
  password="1234",
  database="spotify"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

#conta as linhas que foram inseridas, no caso, 1 linha inserida...

1 record inserted.

In [ ]:
###

In [ ]:
# retornando ID 
import mysql.connector

mydb = mysql.connector.connect(
   host="localhost",
  user="root",
  password="1234",
  database="spotify"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("Michelle", "Blue Village")
mycursor.execute(sql, val)

mydb.commit()

print("1 record inserted, ID:", mycursor.lastrowid)

#retorna a posição da inserção (contagem do ID)...

1 record inserted, ID: 2

In [ ]:
###

In [ ]:
#select

import mysql.connector

mydb = mysql.connector.connect(
   host="localhost",
  user="root",
  password="1234",
  database="spotify"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

#listando todos os clientes

('John', 'Highway 21', 1)
('Michelle', 'Blue Village', 2)

In [ ]:
####

In [ ]:
# Colunas
import mysql.connector

mydb = mysql.connector.connect(
   host="localhost",
  user="root",
  password="1234",
  database="spotify"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT name, address FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Highway 21')
('Michelle', 'Blue Village')

In [ ]:
#####

In [ ]:

### utilizando o where

import mysql.connector

mydb = mysql.connector.connect(
   host="localhost",
  user="root",
  password="1234",
  database="spotify"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers WHERE address ='Highway 21'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Highway 21', 1)

In [ ]:
####

In [ ]:
# Múltiplos registros
import mysql.connector

mydb = mysql.connector.connect(
   host="localhost",
  user="root",
  password="1234",
  database="spotify"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

13 was inserted.

In [ ]:
####

In [ ]:
#order by

import mysql.connector

mydb = mysql.connector.connect(
   host="localhost",
  user="root",
  password="1234",
  database="spotify"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers ORDER BY name"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

##ordenando por ordem alfabética os nomes dos clientes

('Amy', 'Apple st 652', 4)
('Ben', 'Park Lane 38', 12)
('Betty', 'Green Grass 1', 8)
('Chuck', 'Main Road 989', 14)
('Hannah', 'Mountain 21', 5)
('John', 'Highway 21', 1)
('Michael', 'Valley 345', 6)
('Michelle', 'Blue Village', 2)
('Peter', 'Lowstreet 4', 3)
('Richard', 'Sky st 331', 9)
('Sandy', 'Ocean blvd 2', 7)
('Susan', 'One way 98', 10)
('Vicky', 'Yellow Garden 2', 11)
('Viola', 'Sideway 1633', 15)
('William', 'Central st 954', 13)

In [ ]:
###

In [ ]:
##usando delete para deletar um registro

import mysql.connector

mydb = mysql.connector.connect(
   host="localhost",
  user="root",
  password="1234",
  database="spotify"
)

mycursor = mydb.cursor()

sql = "DELETE FROM customers WHERE address = 'Mountain 21'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted

In [ ]:
###

In [ ]:
## atualizando endereço UPDATE

import mysql.connector

mydb = mysql.connector.connect(
   host="localhost",
  user="root",
  password="1234",
  database="spotify"
)

mycursor = mydb.cursor()

sql = "UPDATE customers SET address = 'Canyon 123' WHERE address = 'Valley 345'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

In [ ]:
##

In [ ]:
# Múltiplos registros (INSERÇÃO NA TABELA EMPLOYEES)

import mysql.connector

mydb = mysql.connector.connect(
   host="localhost",
  user="root",
  password="1234",
  database="spotify"
)

mycursor = mydb.cursor()

sql = "INSERT INTO employees (name, address) VALUES (%s, %s)"
val = [
  ('Hulk', 'Green Street 1000'),
  ('Thor', 'Thunder Avenue 2000 '),
  ('IronMan', 'V Tower 3000'),
  ('Captain America', 'unknow street 4000'),
  ('AntMan', 'anywhere 5000'),
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

5 was inserted.

In [ ]:
# Múltiplos registros (INSERÇÃO NA TABELA ARTISTS)

import mysql.connector

mydb = mysql.connector.connect(
   host="localhost",
  user="root",
  password="1234",
  database="spotify"
)

mycursor = mydb.cursor()

sql = "INSERT INTO artists (artist_name, biography) VALUES (%s, %s)"
val = [
  ('The Doors', 'The Doors foi uma banda de rock norte-americana, fundada em 1965, em Los Angeles, Califórnia. O grupo era composto por Jim Morrison (voz), Ray Manzarek (teclados), Robby Krieger (guitarra) e John Densmore (bateria). '),
  ('Aerosmith', 'O Aerosmith é uma banda de hard rock estadunidense, formada em Boston, Massachusetts no início dos anos 70, tendo desfrutado de grande popularidade durante... '),
  ('Soundgarden', 'foi uma banda de rock norte-americana formada em 1984, em Seattle, Washington e que, ao lado de Nirvana, Alice in Chains e Pearl Jam, constituiu-se'),
  ('Guns', 'O Guns and Roses é uma das bandas estadunidenses de Hard Rock mais controversas e populares fundada em 1985. '),
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

4 was inserted.

In [ ]:



import mysql.connector

mydb = mysql.connector.connect(
   host="localhost",
  user="root",
  password="1234",
  database="spotify"
)

mycursor = mydb.cursor()

sql = "INSERT INTO playlists (costumer_id, song_id, date_added, position_number) VALUES (%s, %s, %s, %s)"
val = [
  ('3', '4', '2020-12-20','1'),
  ('12', '1', '2020-12-25','5'),
  ('1', '2', '2020-11-20','4'),
  ('7', '3', '2020-08-10','3'),
  ('9', '4', '2020-12-30','2'),
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

5 was inserted.

In [ ]:
#order by

import mysql.connector

mydb = mysql.connector.connect(
   host="localhost",
  user="root",
  password="1234",
  database="spotify"
)

mycursor = mydb.cursor()

sql = "SELECT artist_name FROM artists ORDER BY artist_name"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

##ordenando por ordem alfabética os nomes dos clientes

('Aerosmith',)
('Guns',)
('Soundgarden',)
('The Doors',)